---
import Layout from "@/layouts/Layout.astro";
import Adventajes from "@/sections/Adventajes.astro";
import Brands from "@/sections/Brands.astro";
import Footer from "@/sections/Footer.astro";
import Header from "@/sections/Header.astro";
import Services from "@/sections/Services.astro";
import { getWebData } from "@/services/data.service";

const data = await getWebData();
---

<Layout meta={data.meta}>
  <Header data={data.headerData} />
  <main class="flex flex-col justify-center items-center">
    <div class="w-3/4">
      <!-- <Hero data={data.heroData} /> -->
	  <br><br><br><br>
      <Services data={data.servicesData} />
      <Adventajes data={data.adventajesData} />
      <Brands data={data.brandsData} />
      <!-- <Pricing data={data.pricingData} /> -->
    </div>
    <Footer data={data.footerData} />
  </main>
</Layout>
